button{
    background-color: brown;
    color: cornsilk;
}
#ashish{
    background-color: darkblue;
    color: crimson;
}
.bbb{
    color: darkgreen;
    background-color: darkolivegreen;
    margin: 10px;
    padding: 10vh;
}